<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Document</title>
</head>
<body>
    <%- include("./navbar.ejs") %>
    <div class="services-section">
        <div class="inner-width">
            <h1 class="section-title">Our Services </h1>
             <div class="border"></div>
                 <div class="services-container">
                    <div class="service-box">
                        <div class="service-icon">
                        <i class="fa fa-paint-brush">  </i>
                        </div>
                        <div class="service-title"> Web developmnt </div>
                        <div class="service-desc">
                           Here's a description of the Service Name 
                        </div>
                    </div>
    
    
                    <div class="service-box">
                        <div class="service-icon">
                        <i class="fas fa-code">   </i>
                        </div>
                        <div class="service-title"> Web design </div>
                        <div class="service-desc">
                            Here's a description of the Service Name
                        </div>
                    </div>
    
    
                    <div class="service-box">
                        <div class="service-icon">
                        <i class="fas fa-brush">   </i>
                        </div>
                        <div class="service-title"> Mobile developmnt </div>
                        <div class="service-desc">
                            Here's a description of the Service Name 
                        </div>
                    </div>
    
    
                    <div class="service-box">
                        <div class="service-icon">
                        <i class="fas fa-object-ungroup">   </i>
                        </div>
                        <div class="service-title"> Full-stack developmnt  </div>
                        <div class="service-desc">
                            Here's a description of the Service Name 
                        </div>
                    </div>
    
    
                    <div class="service-box">
                        <div class="service-icon">
                        <i class="fas fa-database">   </i>
                        </div>
                        <div class="service-title"> Artificial Intelligence </div>
                        <div class="service-desc">
                            Here's a description of the Service Name 
                        </div>
                    </div>
    
    
                    <div class="service-box">
                        <div class="service-icon">
                        <i class="fab fa-android">   </i>
                        </div>
                        <div class="service-title"> DevOps </div>
                        <div class="service-desc">
                            Here's a description of the Service Name  
                        </div>
                    </div>
    
    
    
                 </div>
        </div> 
    </div>
     
        
      
              
</body>
</html>